* {
	margin: 0;
	bordern: solid 1px rgba(0, 0, 0, 0.1);
}

#body {
	position: absolute;
	top: 0;
	bottom: 0;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	padding: 1rem;
}

.header {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

.listDiv {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	grid-gap: .4rem;
}

.list {
	list-style: none;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	grid-gap: 3pt;
}

.item {
	text-decoration-line: none;
}

#db {
	position: absolute;
	top: 0;
	bottom: 50%;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	font-size: 1500%;
	color: rgba(0, 0, 0, 0.2);
}

.timeBox {
	position: absolute;
	top: 0;
	width: 100%;
	padding: 1rem;
}